body {
    background-color: #576366;
    font-size: 18pt;
}

#h1 {
    color: #FFFFFF;
}

button {
    background-color: #7C9B9C;
    border-radius: 10px;
    border-color: #FFFFFF;
    border-width: 3px;
    padding: 5px;
    color: #D6E3E3;
}

button:hover {
    cursor: pointer;
    background-color: #305252;
}